<launch>
    <rosparam file="$(find icub_ros)/config/params.yaml" command="load"/>
    <node pkg="icub_ros" name="tcp_server_endpoint" type="tcp_server_endpoint.py" args="--wait" output="screen" respawn="true" />
    <node pkg="icub_ros" name="icub_trajectory_planner" type="icub_trajectory_planner" args="--wait" output="screen"/>
    <include file="$(find icub_moveit)/launch/demo.launch" />
</launch>
